@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
}

/** SELLER PANEL SLIDER CSS **/

.invisible-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: rgba(170, 170, 170, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.visible-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

.visible-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.visible-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.visible-scrollbar-onHover:hover::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

.visible-scrollbar-onHover:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

.visible-scrollbar-onHover:hover::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.visible-scrollbar-onHover:hover::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

/**swiper js custom style**/
.swiper-button-prev {
  left: 6pxpx !important;
}
.swiper-button-next {
  right: 6px !important;
}
.swiper-button-prev,
.swiper-button-next {
  background: #f3f9fb !important;
  width: 46px !important;
  height: 46px !important;
  border-radius: 50% !important;
  border: solid 8px white !important;
  z-index: 10;
}
@media (min-width: 768) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 86px !important;
    height: 86px !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

.swiper-scrollbar-drag {
  background: #008ecc !important;
}
/* .swiper-wrapper{
  display:flex;
  flex-direction: row;
  margin: 0 auto;
} */
