@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
}

/**swiper js custom style**/
.swiper-button-prev {
  left: 6pxpx !important;
}
.swiper-button-next {
  right: 6px !important;
}
.swiper-button-prev,
.swiper-button-next {
  background: #f3f9fb !important;
  width: 46px !important;
  height: 46px !important;
  border-radius: 50% !important;
  border: solid 8px white !important;
  z-index: 10;
}
@media (min-width:768){
  .swiper-button-prev,
.swiper-button-next {
  width: 86px !important;
  height: 86px !important;
}
}


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

.swiper-scrollbar-drag {
  background: #008ecc !important;
}
