@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* ./styles/globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* hide scrollbar css */
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide input arrow */
/* Chrome, Safari, Edge, Opera */
.input_arrow_hide::-webkit-outer-spin-button,
.input_arrow_hide::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* //loading animation */
@keyframes pulse {
  50% {
    opacity: 0.6;
  }
}
.pulse-animation {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 3) infinite;
}

/* hide input arrows */
.hide_input_arrow::-webkit-outer-spin-button,
.hide_input_arrow::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hide_input_arrow[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
